/ {
   
    combos {
        compatible = "zmk,combos";
        
        combo_esc {
            timeout-ms = <50>;
            key-positions = <LT2 LT3>;
            // global-quick-tap-ms = <75>;
            layers = <0>;
            bindings = <&kp ESC>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <LT1 LT2>;
            // global-quick-tap-ms = <75>;
            layers = <0>;
            bindings = <&kp ENTER>;
        };

         combo_tab {
            timeout-ms = <30>;
            key-positions = <LM2 LM3>;
            layers = <0>;
            bindings = <&kp TAB>;
        };

         combo_hyphen {
            timeout-ms = <50>;
            key-positions = <4 16>;
            // global-quick-tap-ms = <75>;
            layers = <0>;
            bindings = <&kp MINUS>;
        };

    };
};
