#include <dt-bindings/zmk/mouse.h>

&mmv {
  acceleration-exponent = <1>;      
  time-to-max-speed-ms = <1500>;    
  delay-ms = <0>;                   
};

&mwh {
  acceleration-exponent = <0>;      
  delay-ms = <0>;                   
};

#define U_MOUSE_MOVE_MAX 1500       
#define U_MOUSE_SCROLL_MAX 20      

#undef MOVE_UP
#undef MOVE_DOWN
#undef MOVE_LEFT
#undef MOVE_RIGHT
#define MOVE_UP MOVE_VERT(-U_MOUSE_MOVE_MAX)
#define MOVE_DOWN MOVE_VERT(U_MOUSE_MOVE_MAX)
#define MOVE_LEFT MOVE_HOR(-U_MOUSE_MOVE_MAX)
#define MOVE_RIGHT MOVE_HOR(U_MOUSE_MOVE_MAX)

#undef SCROLL_UP
#undef SCROLL_DOWN
#undef SCROLL_LEFT
#undef SCROLL_RIGHT
#define SCROLL_UP SCROLL_VERT(U_MOUSE_SCROLL_MAX)
#define SCROLL_DOWN SCROLL_VERT(-U_MOUSE_SCROLL_MAX)
#define SCROLL_LEFT SCROLL_HOR(-U_MOUSE_SCROLL_MAX)
#define SCROLL_RIGHT SCROLL_HOR(U_MOUSE_SCROLL_MAX)

#define MOUSE_LCLK &mkp LCLK
#define MOUSE_RCLK &mkp RCLK
#define MOUSE_MS_U &mmv MOVE_UP
#define MOUSE_MS_D &mmv MOVE_DOWN
#define MOUSE_MS_L &mmv MOVE_LEFT
#define MOUSE_MS_R &mmv MOVE_RIGHT
#define MOUSE_WH_U &mwh SCROLL_UP
#define MOUSE_WH_D &mwh SCROLL_DOWN
#define MOUSE_WH_L &mwh SCROLL_LEFT
#define MOUSE_WH_R &mwh SCROLL_RIGHT
